<!doctype html>

<html lang="en">
    <head>
        <title> Room Availability Report </title>
    </head>

    <body style="text-align:center">

        <table border="5px solid black" align="center" style="width:80%" cellspacing="4px">
            <thead>
            <tr style="height:100px">

<!--                <th colspan="1" align= center> <img src="https://drive.google.com/uc?export=view&id=1A4oGJsCQz7FvS2rRjFGjV1kKbYgKgijm" alt="logo" width="50 px" height="50px"></th>-->
                <th colspan="3" align= center> Hotel Room Availability Report, from {{ fromDate }} to {{ toDate }} </th>

            </tr>

            <tr align= center style="height:50px">
                <th> Room type </th>
                <th> Reserved </th>
                <th> Available </th>
            </tr>
            </thead>
            <tbody>

            {% for x in rtypeList %}
            <tr align= center>
                <td> {{ x.roomTname }} - {{ x.roomTarea }}㎡  </td>
                <td> {{ x.countReserved }} </td>
                <td> {{ x.countAvailable }} </td>
            </tr>
            {% endfor %}


            <tr align= center style="height:30px">
                <td> <b> Total </b> </td>
                <td> {{ totalReserved }} </td>
                <td> {{ totalAvailable }} </td>

            </tr>
            </tbody>
        </table>
        <h4>press "Ctrl + P"  to make PDF </h4>
    </body>
</html>